.rodape{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-around;
    background-color: var(--cor-cinza-escuro);
    border-top: 0.5px solid black;
    padding: 1.5rem;
}
.rodape__titulo{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--fonte-primaria);
    color: var(--cor-branco);

}
.rodape__contato{
    padding: 1rem 0.5rem;
    border-top: 0.5px solid var(--cor-cinza);
}
.rodape__contato li a{
    text-decoration: none;
    color: var(--cor-branco);
}
.rodape__redes{
    display: flex;
    gap: 1rem;
    padding: 1rem 0.5rem;
    border-top: 0.5px solid var(--cor-cinza);
}
.rodape__redes li img{
    width: 30px;
    height: 30px;
}
