.cabecalho{
    background-color: var(--cor-azulBack);
    background-image: url(../images/Casal.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position: bottom;
    background-size:contain;
    width: 100%;
    height: 80vh;
    padding-top: 20%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: left;
}
.cabecalho__escurece{
    display: flex;
    flex-direction:column ;
}
.container__imagem{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.cabecalho__imagem{
    right: 0%;
    width: 100%;
}
.cabecalho__empresa{
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.cabecalho__apresentacao{
    padding: 3% 5%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.cabecalho__apresentacao__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 700;
    font-size: 1rem;
    color: var(--cor-branco);
    padding: 0 0 2rem 0;
}
.cabecalho__apresentacao__titulo{
    font-family: var(--fonte-primaria);
    font-weight: 700;
    font-size: var(--size-h1);
    color: var(--cor-branco);
}
.container__cor{
    padding: 10% 0 2% 5%;
    color: var(--cor-branco);
}
.container__nome{
    padding: 1rem 1rem 0.5rem 1rem;
}
.cabecalho__apresentacao__mini-titulo{
    color: var(--cor-branco);
}
.container__logo{
    padding: 0 1rem 0;
}
.destaca{
    text-decoration: none;
    font-weight: 800;
    color: var(--cor-azulClaro);
    text-shadow: 1px 1px 1px  white;
}
.cabecalho__navegacao{
    padding: 3% 5%;
}

.cabecalho__espaco{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cabecalho__botao{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-family: var(--fonte-primaria);
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--cor-branco);
    border: 2px solid var(--cor-branco);
    padding: 1rem 0;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .4);
    width: 90%;
    transition: background 1s;
    transition: color 1s;

}
.cabecalho__botao:hover{
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    transition: background 1s;
    .icone{
        display: block;
    }
    .icone-1{
        display: none;
    }
}
.cabecalho__botao:active{
    transform: scale(0.98);
}
.icone{
    display: none;
    width: 25px;
    height: 25px;
}
.icone-1{
    width: 25px;
    height: 25px;
}
@media (min-width: 376px){
    .container__cor{
        padding: 15% 0 2% 5%;
    }
    .cabecalho__apresentacao{
        padding-top: 5%;
    }
}
@media (min-width: 420px){
    .cabecalho__apresentacao__titulo{
        font-size: 2.5rem;
    }
}
@media (min-width: 481px){
    .cabecalho{
        padding-top: 15%;
        height: 80vh;
        background-size:contain;
        background-position: right bottom;
    }
    .cabecalho__apresentacao__titulo{
        font-size: 2.7rem;
        padding-top: 5%;
    }
    .cabecalho__espaco{
        justify-content: start;
        padding: 2% 0 0 5%;
    }
    .cabecalho__botao{
        width: 35%;
    }
    .container__cor{
        padding-top: 10%;
    }
}
  @media (min-width: 768px) {
   .cabecalho{
    height: 40vh;
    align-items: center;
    flex-direction: row-reverse;
    gap: 0.5rem;
    padding: 15% 0 5%;
    background-size: 70%;
   }
    .cabecalho__escurece{
        padding-left: 5%;
        background: none;
        width: 50%;
        gap: 1.5rem;
    }
    .cabecalho__botao{
        width: 60%;
    }
    .cabecalho__espaco{
        padding: 1rem;
        justify-content: start;
    }
    .container__cor{
        padding-top: 5%;
    }
  }
  @media (min-width: 1024px) {
    .cabecalho{
        padding-top: 15%;
        height: 40vh;
        background-size: contain;
    }
  }
  @media (min-width: 1700px){

  }