.conteudo{
    display: flex;
    flex-direction: column;
    height: auto;
    opacity: 0.5;
    opacity: unset;
}
.conteudo__whats{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 90;
    padding: 0 1rem 4rem;
}
.conteudo__whats img{
    width: 60px;
    height: 60px;
}
.conteudo__sobre{
    display: flex;
    flex-direction: column;
    padding: 5% 5%;
    justify-content: start;
    height: auto;
    background-color: #fcfaf9;
}
.conteudo__sobre__destaque{
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteudo__sobre__destaque__titulo{
    font-size: var(--size-h3);
    font-weight: 700;
}
.conteudo__sobre__titulo{
    color: var(--cor-preto);
    font-family: var(--fonte-primaria);
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    padding: 1.5rem 0;
    text-shadow: 1px 1px 1px var(--cor-shadow-cinza);
}
.conteudo__sobre__cartoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 1rem 0;
}
.conteudo__sobre__cartoes__img{
    display: none;
}
.conteudo__sobre__cartoes__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-branco);
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}
.conteudo__sobre__cartoes__item__icone{
    padding-top: 2%;
}
.conteudo__sobre__cartoes__item__titulo{
    font-family: var(--fonte-secundaria);
    font-weight: 800;
    color: var(--cor-azulClaro);
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0;
    text-shadow: 1px 1px 1px var(--cor-shadow-cinza);;
}
.conteudo__sobre__cartoes__item__desc{
    font-family: var(--fonte-primaria);
    font-weight: 600;
    color: var(--cor-letra-card);
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
}
.container__titulo{
    text-align: center;
}
.container__titulo-botao{
    color: var(--cor-letra-card);
    width: auto;
    text-align: center;
    padding: 0;
}
.conteudo__contrate{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.icone-3{
    width: 30px;
    height: 30px;
} 
.container__botao{
    background-color: var(--cor-verde);
    width: auto;
    border-radius: 100px;
}
.container__botao:hover{
    background-color: var(--cor-verde);
    border: 2px solid var(--cor-verde);
}
.container__icone{
    padding: 0 1rem;
}
.conteudo__atendidos{
    background-color: var(--cor-cinza);
    height: auto;
    margin: 1rem 0;
}
.conteudo__atendidos__titulo{
    color: var(--cor-branco);
    font-family: var(--fonte-primaria);
    font-weight: 700;
    font-size: 1.7rem;
    text-align: center;
    padding: 15% 0 10%;
    text-shadow: 1px 1px 1px var(--cor-shadow-cinza);
}
.conteudo__atendidos__desc{
    font-family: var(--fonte-primaria);
    font-weight: 600;
    color: var(--cor-branco);
    font-size: 1rem;
    text-align: center;
    padding: 1rem 1rem 10%;
    line-height: 1.5rem;
}
.conteudo__perguntas{
    height: auto;
    font-family: var(--fonte-primaria);
    font-weight: 600;
    color: var(--cor-preto);
    background-color: var(--cor-branco-fundo);
}
.conteudo__perguntas__lista{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);

}
.conteudo__perguntas h2{
    font-size: 1.7rem;
    font-weight: 700;
    padding: 10% 0;
    text-align: center;
}
.conteudo__perguntas__pergunta{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-branco);
    border-bottom: 0.5px solid var(--cor-letra-card);
    cursor: pointer;
    transition: background 1s;
}
.conteudo__perguntas__pergunta:hover{
    background-color: #f1efee;
}
.conteudo__perguntas__titulo{
    display: flex;
    align-items: center;
    font-size: 1rem;
    transform: color 1s;
    font-weight: 700;
}
.conteudo__perguntas__decricao{
    font-weight: var(600);
    font-size: 1rem;
    padding: 1.2rem 1.2rem 1rem;
    color: var(--cor-letra-card);
}
.conteudo__perguntas__decricao strong{
    font-weight: 800;
}
.conteudo__perguntas__user{
    padding: 0 0.5rem 0 0;
}
details>summary{
    list-style: none;
}
.conteudo__perguntas__pergunta summary{
    transform: open 1s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}
.conteudo__perguntas__triangulo{
    width: 15px;
    height: 15px;
    transform: rotate(90deg);
    transition: 0.2s ease-in-out
}
details[open] .conteudo__perguntas__triangulo{
    transform: rotate(180deg);
}
details[open] .conteudo__perguntas__titulo{
    color: var(--cor-azulClaro);
}

@media (max-width: 414px) {
    /* Estilos para dispositivos com largura de tela de até 414px */
    .conteudo__atendidos{
        height: auto;
    }
    .conteudo__perguntas{
        height: auto;
    }
  }
  @media (min-width: 768px) {
    .conteudo__atendidos{
        height: auto;
    }
    .conteudo__atendidos__desc{
        padding-bottom: 15% ;
    }
    .conteudo__perguntas{
        padding: 0 5%;
    }
  }
  @media (min-width: 800px) {
    .conteudo__sobre__cartoes {
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 7%;
        justify-content: space-around;
    }
    .conteudo__whats img{
        width: 70px;
        height: 70px;
    }
    .conteudo__sobre__cartoes__img{
        display: none;
        width: 20%;
        height: 20%;
    }
    .conteudo__sobre__cartoes__item{
        width: 30%;
    }
    .conteudo__atendidos{
        display: flex;
        height: auto;
        margin: 0;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 5% 0;
    }
    .conteudo__atendidos__titulo{
        padding-top: 5%;
        width: 40%;
    }
    .conteudo__atendidos__desc{
        width: 60%;
        padding-bottom: 5%;
    }
  }
  .conteudo__perguntas h2{
    padding: 5% 0;
  }
  @media (min-width: 1024px) {
    .conteudo__atendidos__titulo{
        width: 50%;
    }
    .conteudo__atendidos__desc{
        width: 50%;

    }
    .conteudo__sobre__cartoes__img{
        width: 30%;
        height: 30%;
        padding-right: 5%;
    }
    .conteudo__sobre__cartoes__item{
        width: 30%;
    }
  }
  @media (min-width: 1360px) {

  }
