.conteudo{
    display: flex;
    flex-direction: column;
    height: auto;
    opacity: 0.5;
    opacity: unset;
}
.conteudo__whats{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 90;
    padding: 0 1rem 4rem;
}
.conteudo__whats img{
    width: 60px;
    height: 60px;
    filter: drop-shadow(0 0 10px 0 rgba(0, 0, 0, .1)) ;
}
.conteudo__sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 5%;
    justify-content: start;
    height: auto;
    background-color: #fcfaf9;
}
.conteudo__alinha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.conteudo__sobre__titulo{
    color: var(--cor-cinza-escuro);
    font-family: var(--fonte-primaria);
    font-weight: 700;
    font-size: 1.7rem;
    text-align: center;
    padding: 1.5rem 0;
}
.conteudo__sobre__desc{
    font-size: 1rem;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-weight: 600;
    padding-bottom: 1rem;
}
.desc{
    width: 30%;
    background-color: #82A9F4;
    padding: 1rem;
    border-color: #82A9F4;
    box-shadow: none;
}
.conteudo__sobre__cartoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem 0;
    width: 90%;
}
.conteudo__sobre__cartoes__img{
    display: none;
}
.conteudo__sobre__cartoes__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-branco);
    width: 80%;
    height: 20%;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}
.conteudo__sobre__cartoes__item__titulo{
    font-family: var(--fonte-primaria);
    font-weight: 700;
    color: var(--cor-cinza-escuro);
    font-size: 1.1rem;
    text-align: center;
    padding: 1rem 0;
}
.elipse{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #82A9F4;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.elipse img{
    width: 50%;
    height: 50%;
}
.conteudo__sobre__cartoes__item__desc{
    font-family: var(--fonte-primaria);
    font-weight: 600;
    color: var(--cor-letra-card);
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
}
.conteudo__contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0eef8;
    padding: 5%;
}
.contato__desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contato__desc h1{
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
    padding: 1rem;
}
.contato__desc p{
    font-weight: 600;
    text-align: center;
    padding-bottom: 1rem;
}
.conteudo__contato img{
    width: 80%;
    height: 80%;
}
.contato__alinha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container__titulo{
    text-align: center;
}
.container__titulo-botao{
    color: var(--cor-letra-card);
    width: auto;
    text-align: center;
    padding: 0;
}
.conteudo__contrate{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.contato__formulario{
    width: 70%;
    background: rgb(38,162,251);
    background: linear-gradient(223deg, rgba(38,162,251,0.5410539215686274) 16%, rgba(184,242,251,0.8183648459383753) 61%);
    border-radius: 5px;
    padding: 2rem 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}
.contato__formulario form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.contato__formulario div{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 0.3rem;
}
.contato__formulario label{
    font-weight: 500;
}
.contato__formulario input{
    height: 1.6rem;
    border-radius: 4px;
    background-color: #e0eef8 ;
    color: var(--cor-letra-card);
    border: none;
}
.contato__formulario input[type="button"]{
    background-color:white;
    width: 30%;
    height: 2rem;
}
.contato__formulario input[type="button"]:hover{
    background-color:#b8f2fb ;
    border: solid 2px black;
    color: black;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}
.contato__formulario #mensagem{
    height: 4rem;
}
.icone-3{
    width: 30px;
    height: 30px;
} 
.container__botao{
    background-color: var(--cor-verde);
    width: auto;
    border-radius: 100px;
}
.container__botao:hover{
    background-color: var(--cor-verde);
    border: 2px solid var(--cor-verde);
}
.container__icone{
    padding: 0 1rem;
}
.conteudo__perguntas{
    height: auto;
    font-family: var(--fonte-primaria);
    font-weight: 600;
    color: var(--cor-preto);
    background-color: var(--cor-branco-fundo);
    padding-bottom:2rem ;
}
.conteudo__perguntas__lista{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);

}
.conteudo__perguntas h2{
    font-size: 1.7rem;
    font-weight: 700;
    padding: 10% 0;
    text-align: center;
}
.conteudo__perguntas__pergunta{
    display: flex;
    flex-direction: column;
    background-color: var(--cor-branco);
    border-bottom: 0.5px solid var(--cor-letra-card);
    cursor: pointer;
    transition: background 1s;
}
.conteudo__perguntas__pergunta:hover{
    background-color: #f1efee;
}
.conteudo__perguntas__titulo{
    display: flex;
    align-items: center;
    font-size: 1rem;
    transform: color 1s;
    font-weight: 700;
}
.conteudo__perguntas__decricao{
    font-weight: var(600);
    font-size: 1rem;
    padding: 1.2rem 1.2rem 1rem;
    color: var(--cor-letra-card);
}
.conteudo__perguntas__decricao strong{
    font-weight: 800;
}
.conteudo__perguntas__user{
    padding: 0 0.5rem 0 0;
}
details>summary{
    list-style: none;
}
.conteudo__perguntas__pergunta summary{
    transform: open 1s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}
.conteudo__perguntas__triangulo{
    width: 10px;
    height: 10px;
    transform: rotate(90deg);
    transition: 0.2s ease-in-out;
    position:relative;
}
details[open] .conteudo__perguntas__triangulo{
    transform: rotate(180deg);
}
details[open] .conteudo__perguntas__titulo{
    color: var(--cor-azulClaro);
}

@media (max-width: 414px) {
    /* Estilos para dispositivos com largura de tela de até 414px */
    .conteudo__atendidos{
        height: auto;
    }
    .conteudo__perguntas{
        height: auto;
    }
  }
  @media (min-width: 768px) {
    .conteudo__sobre{
        flex-direction: row;
    }
    .conteudo__alinha{
        width: 70%;
    }
    .desc{
        margin-top: 1rem;
        width: 50%;
    }
    .conteudo__sobre__desc{
        font-size: 1.2rem;
    }
    .conteudo__contato{
        flex-direction: row;
    }
    .conteudo__contato img{
        width: 40%;
    }
    .contato__desc{
        width: 50%;
    }
    .conteudo__atendidos{
        height: auto;
    }
    .conteudo__atendidos__desc{
        padding-bottom: 15% ;
    }
    .conteudo__perguntas{
        padding: 0 5%;
    }
  }
  @media (min-width: 800px) {
    .conteudo__alinha{
        width: 50%;
    }
    .conteudo__sobre__cartoes {
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 7%;
        justify-content: space-around;
        width: 50%;
    }
    .conteudo__whats img{
        width: 70px;
        height: 70px;
    }
    .conteudo__sobre__cartoes__img{
        display: none;
        width: 20%;
        height: 20%;
    }
    .conteudo__sobre__cartoes__item{
        width: 50%;
    }
    .conteudo__atendidos{
        display: flex;
        height: auto;
        margin: 0;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 5% 0;
    }
    .conteudo__atendidos__titulo{
        padding-top: 5%;
        width: 40%;
    }
    .conteudo__atendidos__desc{
        width: 60%;
        padding-bottom: 5%;
    }
  }
  .conteudo__perguntas h2{
    padding: 5% 0;
  }
  @media (min-width: 1024px) {
    .conteudo__atendidos__titulo{
        width: 50%;
    }
    .conteudo__atendidos__desc{
        width: 50%;

    }
    .conteudo__sobre__cartoes__img{
        width: 30%;
        height: 30%;
        padding-right: 5%;
    }
    .conteudo__sobre__cartoes__item{
        width: 40%;
    }
  }
  @media (min-width: 1360px) {

  }
